<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookPocket"
        tools:targetApi="31">
        <activity
            android:name=".view.ui.search.MenuSearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.adapter.AdapterCartActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.store.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.search.order.OrderFinishActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.adapter.AdapterNotifActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".view.ui.store.DetailProductActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".view.ui.store.HomeStore.StoreActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".view.ui.adapter.AdapterCartActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".view.ui.account.change.ChangeAddresActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.account.change.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.account.change.ChangeNoTelpActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.account.change.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.account.change.ChangeUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.adapter.AdapterActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.search.order.OrderAntarActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.search.order.OrderAmbilSendiriActivity"
            android:exported="false" />
        <activity
            android:name=".view.uiauth.SignUp.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ui.home.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.home.notif.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.uiauth.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.search.detail_search.DetailSearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>